# Markdown
## Markdown
### Markdown

# insert site address
[site](http://ct3.gitam.edu/)

# insert image
![site](https://images.pexels.com/photos/414612/pexels-photo-414612.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500)

# Python Basics
Python is a beginner's language

Python is easy to learn

# Creating Ordered List
1. abs
2. hgbs
      1. a
      2. b

# Unordered List
- abc
- geg
  - a
  - b

# Bold and Italic
**GAYATHRI**
*GAYATHRI*

In [3]:
#Basic hello
print("HELLO WORLD!")

HELLO WORLD!

In [4]:
#Variable creation
x = 15
y = 18
x + y

33

# Rules for variable
- Name should begin with a character
- No special character allowed except _

In [6]:
name = "Gayathri"
age = 18
print("my name is:",name,"age is:",age)

my name is: Gayathri age is: 18

In [9]:
name = input("enter name:")
age = int(input("enter age:"))
print("my name is:",name,"age is:",age)

enter name:Gayu
enter age:21
my name is: Gayu age is: 21

In [27]:
x = int(input("enter a number:"))
y = int(input("enter a number:"))

print("addition of numbers:",x + y)
print("subtraction of numbers:",x - y)
print("multiplication of numbers:",x * y)
print("division of numbers:",x / y)
print("remainder of numbers:",x % y)

enter a number:33
enter a number:9
addition of numbers: 42
subtraction of numbers: 24
multiplication of numbers: 297
division of numbers: 3.6666666666666665
remainder of numbers: 6

# Fundamental data types
- int
- float
- complex
- boolean
- string

In [22]:
x = 12
y = 13.31
z = 5+12j
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'complex'>

In [26]:
c = complex(2,5)
print(c)

(2+5j)

In [28]:
c1 = 3+5j
c2 = 6+7j
print(c1+c2)
print(c1-c2)
print(c1*c2)

(9+12j)
(-3-2j)
(-17+51j)

In [31]:
#Boolean
a = 6
b = 9
a < b

True

In [34]:
#String
s1 = "abc"
s2 = "xyz"
print(type(s1))
print(type(s2))

<class 'str'>
<class 'str'>

In [35]:
i = 18
print(type(i))
s1 = str(i)
print(type(s1))
f1 = float(i)
print(type(f1))

<class 'int'>
<class 'str'>
<class 'float'>

In [36]:
#length
a = 1234
print(len(str(a)))

4

In [39]:
n1 = 99
a = b = c =18
a1,b1,c1 = 15,27,93
print(n1)
print(a,b,c)
print(a1,b1,c1)

99
18 18 18
15 27 93

# Precendence of the Arth operators
- Parenthesis
- Power
- Multiplication
- Addition

In [43]:
x = 1 + 2 ** 3 /4 + 6
print(x)

9.0

In [46]:
x = 1 + 2 ** 3 /4 * 5
print(x)

11.0

# Operators
## Arithmetic Operators
- +
- -
- *
- /
- %
- **
- //

In [50]:
x = int(input("enter a number:"))
y = int(input("enter a number:"))

print("addition of numbers:",x + y)
print("subtraction of numbers:",x - y)
print("multiplication of numbers:",x * y)
print("division of numbers:",x / y)
print("remainder of numbers:",x % y)
print("power of numbers:",x ** y)
print("quotient of numbers:",x // y)

enter a number:9
enter a number:7
addition of numbers: 16
subtraction of numbers: 2
multiplication of numbers: 63
division of numbers: 1.2857142857142858
remainder of numbers: 2
power of numbers: 4782969
quotient of numbers: 1

## Relational Operators
- ==, !=, <, >, <=, >=

In [51]:
x = 5
a = x > 10
print(a)

False

## Logical Operators
- and
- or
- not

In [55]:
i = 100
a1 = (i > 15) and (i > 75)
a2 = (i > 222) or (i > 175)
print(a1)
print(a2)
print(not i)

True
False
False

## Membership Operator
- in
- not in

In [56]:
str1 = "abc"
print('a' in str1)
print('a' not in str1)

True
False

# Control Flow Statements
- Conditional statements
- Looping statements
## if-else statement
- syntax
#### if condition:
> statements<br>
#### else
> statements

In [63]:
#check given number is even or odd
n = int(input("enter a number:"))
if n %2 ==0:
    print("number is even")
else:
    print("number is odd")

enter a number:9
number is odd

In [69]:
#check given number is perfectly multiple of 3 and 5
n = int(input("enter a number:"))
if n %3==0 and n%5==0:
    print("yes")
else:
    print("no")

enter a number:15
yes

In [78]:
#check given number is positive,negative or zero
n = int(input("enter a number:"))
if n >0:
    print("positive")
elif n <0:
    print("negative")
else:    
    print("zero")

enter a number:9
positive