# Collection of Datatypes:
1. List
2. Tuple
3. Set
4. Dictionary

# List:
- One of the data structures in python
- Data structure means to store,sort and search options
- Its one common data structure in python,the items of list separated by comma and enclosed by square brackets
### Example
- list1 = [1,2,3,4]
- list2 = ["gitam",1,2,3]

In [7]:
li = [1,8,16,9,2]
print(li)
print(li[2])
print(li[-3])
print(li[2:])
print(li[2:4])
print(li[-3:-1])

[1, 8, 16, 9, 2]
16
16
[16, 9, 2]
[16, 9]
[16, 9]

In [11]:
li = ["Gitam",1234,1235,1236,"Hyd"]
print(li)
print(li[0][2])

['Gitam', 1234, 1235, 1236, 'Hyd']
t

In [13]:
# Delete
del li[3]
print(li)

['Gitam', 1234, 1235]

In [14]:
# Update
li[1] = 123
print(li)

['Gitam', 123, 1235]

In [21]:
# Basic list functions
li = [1,9,116,25,5]
print(max(li))
print(min(li))
print(sum(li))
print(len(li))
print(sum(li)//len(li))

116
1
156
5
31

In [35]:
li = [1,9,116,25,5,9]
li.append(89)
print(li)
li.insert(2,56)
print(li)
li.count(9)
li.index(5)
li.sort()
print(li)
li.pop(1)
li

[1, 9, 116, 25, 5, 9, 89]
[1, 9, 56, 116, 25, 5, 9, 89]
[1, 5, 9, 9, 25, 56, 89, 116]

[1, 9, 9, 25, 56, 89, 116]

## Difference between Delete and Pop
#### del-delete the list item from the list
#### pop-remove last index value
#### pop(index)-removes the items from specified index

In [2]:
li = [1,9,116,25,5,9]
li1 = [76,78,79]
li.extend(li1)
print(li)
li.reverse()
li

[1, 9, 116, 25, 5, 9, 76, 78, 79]

[79, 78, 76, 9, 5, 25, 116, 9, 1]

In [3]:
# function to return the large number from the given list
def largenum(li):
    li.sort()
    return li[-1]
def genericlarge(li,n):
    li.sort()
    return li[-n]
li = [19,1,25,45,76]
print(largenum(li))
print(genericlarge(li,3))

76
25

In [6]:
# function to return the small number from the given list
def smallnum(li):
    li.sort()
    return li[0]
def genericsmall(li,n):
    li.sort()
    return li[n]
li = [19,1,25,45,76]
print(smallnum(li))
print(genericsmall(li,1))

1
19

## Tuple:
- Its one common data structure in python,the items of tuples separated by comma and enclosed by parenthesis()
#### Example:
- li = (1,2,3,4)

## List and Tuple
- In list are mutable - can be changed/modified
- List used to modify,add,delete,update
- Tuple are immutable - cannot be changed
- Tuple used access data only

In [11]:
ti = (1,2,3,4,54)
ti

(1, 2, 3, 4, 54)

## Dictionaries
1. It works on concept of set unique data
2. Dictionary contains keys and values
3. Each key and value separated by comma
4. Each key is separated from its values with colon(:)

In [22]:
d1 = {"name":"gitam","email":"gitam@in","address":"hyderabad"}
d1

{'name': 'gitam', 'email': 'gitam@in', 'address': 'hyderabad'}

In [30]:
d1 = {"name":"gitam","email":"gitam@in","address":"hyderabad"}
d1['name'] = 'gayathri'
d1

{'name': 'gayathri', 'email': 'gitam@in', 'address': 'hyderabad'}

In [31]:
d1['rollno'] = '221710313018'
d1

{'name': 'gayathri',
 'email': 'gitam@in',
 'address': 'hyderabad',
 'rollno': '221710313018'}

In [32]:
del d1['email']
d1

{'name': 'gayathri', 'address': 'hyderabad', 'rollno': '221710313018'}

In [34]:
d1.values()

dict_values(['gayathri', 'hyderabad', '221710313018'])

In [35]:
d1.items()

dict_items([('name', 'gayathri'), ('address', 'hyderabad'), ('rollno', '221710313018')])

# Strings:

In [37]:
s1 = "Python"
print(s1)
print(type(s1))

Python
<class 'str'>

In [48]:
s1 = "Python"
print(s1[0])
print(s1[len(s1)-2])
print(s1[1:-1])
print(s1[len(s1)//2])
print(s1[::2])
print(s1[::-1])

P
o
ytho
h
Pto
nohtyP

# String Built in methods:
- upper
- lower
- islower
- isupper
- istitle
- isnumeric
- isalpha
- isspace

In [56]:
s1 = "Python"
print(s1.upper())
print(s1.lower())
print(s1.isupper())
print(s1.islower())
print(s1.istitle())
print(s1.isnumeric())
print(s1.isalpha())

PYTHON
python
False
False
True
False
True

In [57]:
s1 = "Ga ya th ri"
print(s1.isspace())

False

In [55]:
s1 = ' '
print(s1.isspace())

True

## String Methods:
- join()
- split()
- replace()

In [58]:
s1 = "Python"
print(" ".join(s1))

P y t h o n

In [59]:
s1 = "Python"
print(" ,".join(s1))

P ,y ,t ,h ,o ,n

In [60]:
s1 = "Python Programming Easy to Learn"
print(s1.split())

['Python', 'Programming', 'Easy', 'to', 'Learn']

In [62]:
s1 = "Python Programming Easy to Learn"
print(s1.replace("ing",'Gitam'))

Python ProgrammGitam Easy to Learn